body {
  background-image: url(/img/small_steps.png);
  
}
.content {
    max-width: 900px;
    margin: 1em auto;
    font-family: 'Cantarell', sans-serif;
}
h1{
     font-family: 'Fjalla One', sans-serif;
}   
.content li{
    text-transform: lowercase;
    margin-bottom: 1em;
}
.content span {
    text-transform: capitalize;
}
.name{
    font-weight: bold;   
}
.addr:after{
    content: ',';   
}
.fa-refresh{
    font-size: 5em;
    color: #999;
    position: relative;
    left: 35%;
    margin-top: 1em;
}

.jvectormap-container {
  min-height: 500px;
}

.highcharts-container {
  width: 700px !important;
}

.data-list {
  border-style: solid;
  border-width: 5px;
}

.padd {
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 10px;
}

.btn {
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid black;
  
}

ul {
  list-style-type: none;
  padding: 10%;
  background-color: #E6E6E6;
}

.right {
  float: right;
  margin-right: 20px;
}

select {
  padding: 5px;
  border-radius: 5px;
  color: #4F779E;
  font-weight: bold;
}

.title {
  border-style: solid;
  border-width: 5px;
  background-color: white;
  margin: 1em auto;
  text-align: center;
}

@media screen and (max-width: 384px) {
  .list {
    display: block;
  }
}
